body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em 0em;
    font: 13px arial, sans-serif;
    background: #fafafa;
    border-bottom: 1px solid #e4e4e4;
}

search-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 8em;
    margin-left: 0 1em;
}

.search-box {
    width: 40em;
    font: 16px arial,sans-serif;
    outline: none;
    padding: 0.8em 1em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    border: 1px solid rgba(0,0,0,0.16);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    margin-left: 2em;
    margin-right: auto;
    background-image: url(http://1.bp.blogspot.com/-lINg3E20_4Y/VebwdAy_MaI/AAAAAAAAFJU/8Jg2H-3-_cc/s1600/Microphone.png), url(https://d2ch73et2vkq86.cloudfront.net/static/images/search_icon.png);
    background-repeat:no-repeat;
    background-size: 1em, 1.5em;
    background-position: center right 3em, center right 0.2em;
    background-origin: content-box;
}

.header-items {
    width: 1.8em;
    height: 1.8em;
    margin-left: 1.4em;
    cursor: pointer;
}

.log-in-box {
    margin-left:1.4em;
    padding: 0.54em 0.7em;
    border:1px solid #4285f4;
    border-radius: 0.2em;
    background: #4387fd;
    font: 13px arial,sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

option-search {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 2.5em 2em 0;
   line-height: 40em;
   background: #fafafa;
   font: 13px arial,sans-serif;
   color: #777;
   cursor: pointer;
   margin-left: 9em;
   margin-right: 7em;
   max-width: 52em;
}

.option-left{
    display: flex;
    flex-direction: row;
    margin-bottom: -1px;
}

.left-items:first-child {
    font-weight: bold;
    color: #4285f4;
    border-bottom: 3px solid #4285f4;
}

.option-left .left-items {
    margin-right: 1em;
    min-width: 4em;
    text-align: center;
    padding-bottom: 0.8em;
}

.option-right {
    display: flex;
    flex-direction: row;
}

.option-right .right-items {
    margin-left: 1em;
    min-width: 4em;
    text-align: left;
    padding-bottom: 0.8em;
}

main {
    display: flex;
    flex-direction: column;
}

.search-results {
    font: 13px arial,sans-serif;
    color: rgb(128, 128, 128);
    line-height: 45px;
    margin-left: 13.3em;
}

result-lists {
    display: flex;
    flex-direction: column;
}

.lists {
   line-height: 1.2;
   font: 13px arial,sans-serif;
   margin-left: 13.3em;
   margin-right: 12em;
   max-width: 50em;
}

.lists a {
    font: 18px solid arial,sans-serif;
    font-weight: 500;
    color:rgb(26, 13, 171);
    text-decoration: none;
}

span {
    color: rgb(221, 75, 57);
}

.link {
   font: 14px solid arial,sans-serif;
   color: rgb(0, 102, 33);
   margin: -1em 0 -0.8em;
}

.description {
    font: 13px arial,sans-serif;
    color: rgb(84, 84, 84);
}

.title {
    font: 18px solid arial,sans-serif;
    margin-left: 9.5em;
    padding-bottom: 0.3em;
}

search-related {
    display: flex;
    flex-direction: row;
    margin-left: 10.8em;
    margin-right: 12em;
    max-width: 50em;
    padding-bottom: 0.4em;
}

.related-left {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    margin-right: 4em;
    max-width: 17em;
}

.left-links {
    font: 14px solid arial,sans-serif;
    color: rgb(26, 13, 171);
    text-decoration: none;
    padding: 0.3em 0.3em 0.3em 0;
}

.related-right {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.right-links {
    font: 14px solid arial,sans-serif;
    color: rgb(26, 13, 171);
    text-decoration: none;
    padding: 0.3em 0.3em 0.3em 0;
}

more-related {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10.8em;
    margin-right: 12em;
}

.search-pages {
    height: 0;
    width: 20px;
    padding-top: 40px;
    font: 13px solid arial,sans-serif;
    text-align: center;
    color: rgb(66, 133, 244);
    text-decoration: none;
    background-image: url(https://www.google.ca/images/nav_logo242_hr.png);
    background-position: -74px 0;
    background-size: 167px;
}

.search-pages:first-child {
    width: 28px;
    background-position: -24px 0;
}

.search-pages:nth-child(2) {
    color: inherit;
    background-position: -52px 0;
}

.search-pages:last-child {
    width: 71px;
    text-align: right;
    background-position: -96px 0;
}